
* {
  padding: 0px;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
  width:fit-content;
}
header {
  background-color: #f85606;
  padding: 0px 10px;
  padding-bottom: 10px;
  width: fit-content;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav ul{
  display: flex;
  padding:0px; 
  margin: 0px;
}
header nav ul li {
  padding-right: 25px;
  padding-bottom: 5px;
  list-style-type: none;
}
header nav ul li:last-child{
  padding-right: 0px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  transition: 0.4s;
}
header nav ul li a:hover {
  color: rgb(255, 196, 196);
}
/*---------SUB MENU -------*/
.sub-menu-hover {
 position: relative;
}
.position-a {
  position: absolute;
  top:200px;
  left: 50%;
  right: 50%; transform: translate(-50%, -50%);
  display: block;
  width: 320px;
  padding: 20px 30px;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: none;
  z-index: 1;
}
.position-a::before {
  position: absolute;
  content: '';
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: -10px;
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-bottom-color:#ffffff;

}
.position-a li {
  padding: 10px 0px;
}
.position-a li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.position-a li a:hover {
  color:#f85606;
  border-bottom: 1px solid red;
}
.position-a li i  {
  color: black;
  font-size: 20px;
  margin-right: 10px;
}
.sub-menu-hover:hover .position-a {
  display:block;
}
/*----- SUB-MENU END ----*/
.right-top {
  display: flex;
  align-items: center;
  gap:10px;
  background-color: #ad3c04;
  padding: 5px 10px;
  width: 137px;
  text-align: center;
  border-radius: 7px;
}
.bottom {
  display: flex;
  align-items: center;
  gap: 5px;
}
.left-section img {
  width: 120px;
}
.catagoray button {
  color: white;
  background-color:#f85606;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 2px;
  border: none;
 cursor: pointer;
 font-size: 16px;
 font-weight: 600;
 position:relative;
} 

/*----- SUB-MENU-2 --- */
#sub-menu-2 {
  position: absolute;
  top: 50px;
  left: -127px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  text-align: left;
  padding: 10px 15px;
  width: 230px;
  background-color: #ffffffff;
  border-radius:  0px 0px 7px 7px;
  z-index: 1;
}
#sub-menu-2::before {
  position: absolute;
  content: '';
  height: 20px; 
  width: 150px;
  background-color:#f85606;
  top: -20px;
  right:20px;
}
#sub-menu-2 li {
  list-style: none;
  padding: 7px 0px;
}
#sub-menu-2 li a {
  text-decoration: none;
  color: black;
  font-weight:500;
  font-size: 14px;
  transition: 0.5s;
}
#sub-menu-2 li a:hover {
  color: red;
}
#sub-menu-2 {
  display: none;
}

.catagoray button:hover #sub-menu-2 {
  display: block;
}
/*----SUB MENU 2 END ------ */


/*------ M-SUB-MENU ------- */
.right-top {
  position: relative;
}
.m-sub-menu {
  position: absolute;
  top: 47px;
  left: -200px;
  background-color:#ffffffff;
  padding: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  z-index: 1;
  display: none;
}
.m-sub-menu::before {
  position: absolute;
  content: '';
  right: 30px;
  top: -28px;
  width: 0px;
  height: 0px;
  border: 15px solid transparent;
  border-bottom-color:#ffffffff;
}
.img-center {
  width: 100%;
}
.m-sub-menu p {
  color: red;
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 18px;
  font-weight: 600;
}
.m-sub-menu .container .img-right img {
  width:100%;
}
.m-sub-menu .container {
  display: flex;
  justify-content:center;
  gap: 10px;
}
.right-top:hover .m-sub-menu {
  display: block;
} 
/*------m-sub-menu end ------- */
.meddle-section {
  display: flex;
}
.meddle-section input {
  height: 26px;
  width: 710px;
  padding: 7px 10px;

  border-radius: 13px;
  border: none;
  outline: none;
}
.btn-1 {
  width: 50px;
  height: 30px;
  margin-top: 5px;
  margin-left: -60px;
  border: none;
  border-radius: 10px;
  background-color: #ffe1d2;
}
.fa-magnifying-glass {
  font-size: 20px;
  color:#ff6200; 
  padding-top: 2px;
}
.right-section ul {
  display: flex;
  margin-left: 30px;
  align-items: center;
  min-width: 244px;

}
.right-section ul li {
  list-style-type: none;
  padding: 0px 7px;
}
.right-section ul li a {
  text-decoration: none;
  color: #Ffffffff;
  font-size: 15px;
}
#card a i {
  font-size: 25px;
}


/*------------==MAIN===-------------- */
main {
  background-color: #f5f5f5;
}
/*-----TEMPLATE -------*/
/*-------slider------*/
#template {
  padding-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  width: fit-content;
}

#template #item li {
  padding: 8px 0px;
  list-style: none;
}
#template #item li a{
  text-decoration: none;
}
#template #item li a:hover {
  color:#f85606;
}
.catagory2 {
  width:200px;
  padding-left: 10px;
}
#template .slider-container {
  height:400px;
  width: 1000px;
  margin: auto;
  overflow:hidden;
  background-color: gray;
  position:relative;
  vertical-align: top;
  
}
.slider-container .slider-item {
  width: 4wv;
  height: 100%;
  transition: 1s;
}
.slider-container .slider-item img {
 width: 100%;
 height: 100%;
}

.prev {
  width: 40px;
  height: 60px;
  background-color: rgba(170, 170, 255, 0.357);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%);
  left: 20px;
  cursor: pointer;
}
.next {
  width: 40px;
  height:60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%);
  right:-20px;
  cursor: pointer;
  background-color: rgba(170, 170, 255, 0.401);
}
.paggination {
  position:absolute;
  bottom:10px;
  left: 300px;
  display: flex;
  gap: 4px;
}
.paggination .pg-icon {
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 255, 0.444);
  border-radius: 50%;
  cursor: pointer;
}
.safe {
  width: 100%;
  margin: auto;
  margin-top: 30px;
  height: 140px;
  overflow: hidden;
}
.safe img {
  width:100%;
}
.safe-payment-grid {
 display: flex;
 justify-content: center;
 width:fit-content;
  background-color: rgba(255, 94, 0, 0.12);
  padding: 7px 0px;
  margin: auto;
  border-radius: 10px;
}
.safe-payment-grid:hover {
  background-color:rgba(255, 94, 0, 0.295);
}
.payment-item a {
  display: flex;
  text-decoration: none;
  align-items: center;
  border-right: 1px solid black;
  padding-right: 20px;
  margin-left: 20px;
}
.payment-item .varifide {
  border-right: 0px;
  position: relative;
}
.low-price-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  max-width: 1200px;
  margin: auto;
  padding: 10px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 10px;
} 
.low-price-grid .low-price-item {
  padding: 0px 13px;
  margin: 0px 13px;
  text-align: center;
  position: relative;
}
.low-price-item a {
  text-decoration: none;
  color: black;
}
.low-price-item a:hover p {
  color:#f85606;
}
.low-price-grid .low-price-item::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 60px;
  background-color:black;
  right:-10px;
  top: 25px;
}
.low-price-grid .low-price-item:last-child::after {
  width: 0px;
}
.low-price-grid .low-price-item img {
  width: 100%;
}

/*....----- FLASHSALE SECTOR----- ....*/
.on-sale {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #ffffff;
  border-bottom: 1px solid gray;
  font-size: 20px;
}
.on-sale .r-section {
  display: flex;
  align-items: center;
  gap: 70px;
}
.on-sale .r-section .clock {
  display: flex;
  align-items: center;
  gap: 15px;
  color:#f85606;
}
.clock button {
  padding: 10px;
  border: none;
  background-color:#f85606;
  color:#ffffff;
  font-size: 20px;
}
.on-sale .l-section button {
  padding:10px;
  background-color: #ffffff;
  border: 1px solid red;
  color:#f85606;
  cursor: pointer;
}
#flashsale {
  margin:35px 25px;
}

 .fs-container .flex-container{
  display: grid;
  grid-template-columns: repeat(6, auto);
  padding: 15px 0px;
  background-color: #ffffff; 
}

.fs-container .flex-container .flex-item {
  font-family: roboto, arial;
}
.fs-card{
  width: 188px;
  height:  340px;
}
.fs-card:hover{
  box-shadow: rgba(115, 115, 117, 0.2) 0px 7px 29px 0px;
}
.fs-card-body{
  padding: 10px 7px;
}
.fs-card-body .p1{
  font-size: 14px;
  margin: 5px 0;
  color: rgb(85, 84, 84);
}

.fs-card-body p{
  font-size: 1.3rem;
  font-weight: 500;
  color: orangered;
}
.fs-card-body span{
  font-size: 1em;
}

.fs-card-body span del{
  color: #928d8d;
}

/*.... CATEGORIES SECTION ....*/
#categories {
  margin: 0px 25px;
}
#categories .flex-container {
  display:grid;
  grid-template-columns: repeat(8, auto);
  margin-bottom: 35px;
}
#categories .flex-item {
  background-color: #ffffff;
  margin: 1px;
  transition: 0.4s;
}
#categories .flex-item:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.categorie-card{
  width: 147px;
  height: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.categorie-card-body{
  text-align: center;
  margin: 5px 10px 0;
}
.categorie-card-body h4{
  font-size: 14px;
  font-weight: 200;
}

/*..... FOR_YOU SECTION ....*/
#for-you {
  margin: 0px 25px;
}
#for-you .flex-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  row-gap: 20px;
  column-gap: 10px;
}
.fy-card{
  height: 345px;
  background-color: #ffffff;
}
.fy-card:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.fy-card-body{
  margin:10px;
  padding: 10px 0;
}
.fy-card-body h3{
  font-size: 1em;
  font-weight: 200;
  margin: 5px 0;
}

.fy-card-body p{
  font-size: 1.3rem;
  font-weight: 500;
  color: orangered;
}
.star{
  margin: 10px 0;
}
.fy-card-body .star span{
  font-size: 13px;
  color: #faca51;;
}

.fy-card-body .star .gray{
  font-size: 13px;
  color: #928d8d;
}



/*======= FOOTER IS START ====== */
footer {
  background-color: #f5f5f5;
  width: 100%;
  padding-top:30px;
}
footer .footer-grid {
  display:grid;
  grid-template-columns: repeat(4, 300px);
  gap: 10px;
  padding-bottom: 20px;
}
footer h3 {
  margin-bottom: 20px;
  font-size: 25px;
  color: #f85606;
}
.International a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  color:#878587;
  text-decoration: none;
}
.International a p {
  height: fit-content;
}
.International a:hover p {
  border-bottom: 1.5px solid black;
}
.International a > div {
  display: flex;
  gap: 10px;
}

.International a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.footer-item ul li {
  list-style-type: none;
  padding: 4px 0px;
}
.footer-item ul li a {
  text-decoration: none;
  color:#878587;
}
.hover ul li a:hover {
 border-bottom: 1.5px solid black;
}
 .payment-img img {
  width: 60px;
 }
.footer-item .flex {
  display: flex;
  gap: 20px;
}
.footer-item .flex .img img {
  width: 95px;
  display: block;
  margin-bottom: 10px;
}
.social-link {
  display: flex;
  gap: 20px;

}
.social-link li {
  list-style: none;
}
.social-link li a {
  text-decoration: none; 
}
.social-link li a i {
  font-size: 25px;
}

/*------ FOOTER BOTTOM ---- */
.footer-bottom {
 background-color: #f1f1f1;
 padding: 15px 10px;
}
.bottom-grid {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px;
}
 .bottom-item {
  color:#727272;
  padding: 0px 10px;
}
.bottom-item h4 {
  font-weight: 600;
}

/*--========== LOAD MORE BUTTON ========--- */
.loadmore-btn {
  width: 450px;
  margin: auto;
  margin-top: 40px;
}
.loadmore-btn button {
  width: 100%;
  padding: 10px 0px;
  color: #f85606;
  font-weight: 550;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  background:none;
  border: 1px solid #f85606;
}
